<!DOCTYPE html>
<html lang="ko">
<head>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
    <script src ="{{ url_for('static', path='/js.js') }}"></script>
</head>
<body class="align">

    <form onsubmit="return false">
      <h3 class="align">이메일 주소를 입력해주세요!</h3>
      <div class="form__field">
        <input type="email" id= "email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form__input" required/>
        <span class="icon"></span>
      </div>
      <p><button class="button-3" id = "button" onclick=sendJSON()>구독하기</button></p>
    </form>
    {% if message %}
    <p> {{ message }}</p>
    {% endif %}
  </body>
  </html>
